<configuration>


    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %highlight(%-5level) %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Log rotation pattern, weekly, with year, month, and week number in the filename -->
            <fileNamePattern>logs/app-%d{yyyy-ww}.log</fileNamePattern>
            <!-- Deletes log-files every two weeks -->
            <maxHistory>2</maxHistory>
            <!-- Clean up logs on start-up, maybe remove this? If app crashes logs might be useful? -->
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- logg-level info and above will be shown in console. As default. -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- All loggers in controller-folder will be stored in a file. -->
    <logger name="org.fungover.system2024.controller" level="INFO">
        <appender-ref ref="FILE" />
    </logger>
    <logger name="org.fungover.system2024.file.FileService" level="INFO">
        <appender-ref ref="FILE" />
    </logger>


</configuration>
